body{
    font-family: Arial;
    background-color:#f4f4f4;
    margin:0;
    padding:0;
}

.container{
    width:800px;
    margin:auto;
    background:white;
    padding:30px;
}

header{
    text-align:center;
    border-bottom:2px solid #ddd;
    padding-bottom:20px;
}

h1{
    color:#333;
}

h2{
    color:#444;
    border-bottom:1px solid #ddd;
    padding-bottom:5px;
}

section{
    margin-top:20px;
}

.item{
    margin-bottom:10px;
}

ul{
    padding-left:20px;
}

footer{
    text-align:center;
    margin-top:30px;
    color:gray;
}